@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

* {
    font-family: 'Dosis', sans-serif;
    font-size: 35px;
    text-align: center;
}

img{
    
}

.coco {
    border: none;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
}

.coco:hover {
    transition: 0.6s;
    background-color: black;
    color: aliceblue;
    margin-left: 10px;
}